*.o
*.a
*.so
bin/
programs/Acqd/Acqd
programs/Acqd/fakeAcqd
programs/Archived/Archived
programs/Calibd/Calibd
programs/Calibd/fakeCalibd
programs/Cmdd/CmdTest
programs/Cmdd/Cmdd
programs/Eventd/Eventd
programs/GPSd/GPSd
programs/Hkd/HkMag
programs/Hkd/HkReadout
programs/Hkd/Hkd
programs/Hkd/fakeHkd
programs/LOSd/LOSd
programs/LOSd/fakePackets
programs/LogWatchd/LogWatchd
programs/Monitord/Monitord
programs/NTUd/NTUd
programs/Openportd/Openportd
programs/Playbackd/Playbackd
programs/Prioritizerd/Prioritizerd
programs/Prioritizerd/fakePrioritizerd
programs/SIPd/SIPd
programs/Tuffd/Tuffd
programs/Tuffd/fakeTuffd
programs/other/fakeEvent
programs/other/getConfigString
programs/other/getConfigValue
programs/other/makeFakeTrigger
programs/other/setConfigString
programs/other/setConfigValue
testing/dumpCurrentPeds
testing/dumpEventTelemFile
testing/dumpLabPedFile
testing/linkWatchTest
testing/makePedestalFilesFromRun
testing/ridiculousRunLog
testing/sbsTempLog
testing/sillyTest
testing/simpleLOSTest
testing/simpleLog
testing/simplePacketReader
testing/simpleSlowRateTest
testing/slac2ice
testing/testDiskWritingWithCheck
testing/testGpsGeom
testing/testLogWatchd
testing/testRecursiveWatching
testing/testWriting
testing/testZipping
testing/unpackFilesForArchived
testing/unpackFilesForPrioritizerd
testing/wasteCpu
