
<output>
printToScreen#I1=1;
verbosity#I1=1;
</output>


<prioritizerd>
hornThresh#F1=300;
hornDiscWidth#I1=20;
hornSectorWidth#I1=3;
coneThresh#F1=250;
coneDiscWidth#I1=17;
holdoff#I1=40;
delay#I1=8;
hornGuardOffset#I1=30;
hornGuardWidth#I1=20;
hornGuardThresh#I1=700;
coneGuardOffset#I1=30;
coneGuardWidth#I1=20;
coneGuardThresh#I1=700;
FFTPeakMaxA#I1=2560;
FFTPeakMaxB#I1=2560;
FFTPeakWindowL#I1=200;
FFTPeakWindowR#I1=225;
FFTMaxChannels#I1=50;
RMSMax#I1=400;
RMSevents#I1=12;
WindowCut#I1=20;
BeginWindow#I1=50;
EndWindow#I1=50;
MethodMask#I1=6247;
NuCut#I1=1000;
</prioritizerd>
