<output>
printToScreen#I1=1;
verbosity#I1=1;
</output>


<prioritizerd>
hornThresh#F1=251;
hornDiscWidth#I1=17;
hornSectorWidth#I1=4;
coneThresh#F1=251;
coneDiscWidth#I1=18;
holdoff#I1=40;
delay#I1=9;
hornGuardOffset#I1=31;
hornGuardWidth#I1=21;
hornGuardThresh#I1=5120;
coneGuardOffset#I1=30;
coneGuardWidth#I1=20;
coneGuardThresh#I1=50;
FFTPeakMaxA#I1=2560;
FFTPeakMaxB#I1=2560;
FFTPeakWindowL#I1=200;
FFTPeakWindowR#I1=225;
FFTMaxChannels#I1=50;
RMSMax#I1=200;
RMSevents#I1=1000;
WindowCut#I1=400;
BeginWindow#I1=100;
EndWindow#I1=200;
MethodMask#I1=3;
</prioritizerd>
