
<global>
detectorSite#I1=4;	            // Near=1, Far=2, CalDet=4
</global>

<active>
ropMask#I1=001;
globalNodes#S=MBRP,DCP,TPC,FPC;
activeBrps#S=BRP0;
masterBrp#S=BRP0;
</active>

<hosts>
activeNodes#S=TPC,MBRP,DCP,FPC;
DCPIp#S=minosdev2;
FPCIp#S=minosdev3;
TPCIp#S=minosdaqt;
BRP0Ip#S=minosdaq0;
TP0Ip#S=minosdaq2;
TP1Ip#S=minosdaq3;
rooterIp#S=minosdev2;

BRP0Port#I1=9002;
FPCPort#I1=9004;
tpFpcPort#I1=9005;
TPCPort#I1=9009;
tpBrpPort#I1=9010;
rooterPort#I1=9011;
DCPPort#I1=10020;
tpDcpPort#I1=10023;
</hosts>




