<relaycontrol>
ip470BoardLocation#I1=0;
turnRFCM3OnLogic#I1=23;
turnRFCM3OffLogic#I1=22;
turnRFCM4OnLogic#I1=21;
turnRFCM4OffLogic#I1=20;
turnRFCM1OnLogic#I1=19;
turnRFCM1OffLogic#I1=18;
turnRFCM2OnLogic#I1=7;
turnRFCM2OffLogic#I1=6;
turnVetoOnLogic#I1=5;
turnVetoOffLogic#I1=4;
turnGPSOnLogic#I1=3;
turnGPSOffLogic#I1=2;
turnCalPulserOnLogic#I1=1;
turnCalPulserOffLogic#I1=0;
calpulserAttenLSB#I1=13;
calpulserPortLSB#I1=9;
</relaycontrol>


<hkd>
numIP320s#I1=3;
analogueCarrierNum#I1=1;
ip320BoardLocations#I3=0,1,2;
ip320Ranges#I3=10,5,5;
readoutPeriod#I1=200;
telemEvery#I1=50;
telemAverage#I1=1;
adcAverage#I1=4;
calibrationPeriod#I1=600;
</hkd>


<output>
printToScreen#I1=1;
writeLookupFile#I1=1;
</output>
