[Unit]
Description=Load Acromag Driver
After=surfdriver.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/anita/flightSoft/system/loadAcromagDriver

[Install]
WantedBy=multi-user.target
