[Unit]
Description=Load SURF Driver
After=turfiodriver.service

[Service]
Type=simple
ExecStart=/home/anita/flightSoft/system/loadSurfDriver

[Install]
WantedBy=multi-user.target