<global>
eventDiskBitMask#I1=0xb;
hkDiskBitMask#I1=0xb;
satabladeCloneMask#I1=0;
sataminiCloneMask#I1=0;
usbCloneMask#I1=0;
disableSatamini#I1=0;
disableSatablade#I1=0;
disableUsb#I1=1;
disableNeobrick#I1=1;
sataminiName#S9=satamini1;
satabladeName#S10=satablade1;
usbName#S8=bigint01;
maxRunLength#I1=720000;
</global>
