<global>
eventDiskBitMask#I1=0x7;
hkDiskBitMask#I1=0x7;
helium1CloneMask#I1=0;
helium2CloneMask#I1=0;
usbCloneMask#I1=0;
disableHelium1#I1=0;
disableHelium2#I1=0;
disableUsb#I1=1;
disableNtu#I1=0;
usbName#S8=bigint01;
ntuName#S=/currentDataDrive;
ntuIP#S=192.168.1.5
ntuCopyDir#S12=/mnt/helium1;
maxRunLength#I1=10800;
</global>
