<relays>
stateAmplite1#I1=1;  //Currently 0 means on, and 1 means off
stateAmplite2#I1=1; //Currently 0 means on, and 1 means off
stateBZAmpa1#I1=0;
stateBZAmpa2#I1=0;
stateNTUAmpa#I1=0;
stateSB#I1=0;
stateNTUSSD5V#I1=0;
stateNTUSSD12V#I1=0;
</relays>



<output>
printToScreen#I1=0;
</output>


<calibd>
digitalCarrierNum#I1=0;
relayWritePeriod#I1=60;
readoutPeriod#I1=200;
telemEvery#I1=10;
telemAverage#I1=1;
adcAverage#I1=4;
calibrationPeriod#I1=600;
</calibd>


<relaycontrol>
ip470BoardLocation#I1=0;
turnAmplite1OnLogic#I1=21;
turnAmplite1OffLogic#I1=22;
turnAmplite2OnLogic#I1=10;
turnAmplite3OffLogic#I1=20;
turnBZAmpa1OnLogic#I1=18;
turnBZAmpa1OffLogic#I1=17;
turnBZAmpa2OnLogic#I1=7;
turnBZAmpa2OffLogic#I1=6;
turnNtuAmpaOnLogic#I1=5;
turnNtuAmpaOffLogic#I1=4;
turnSBLogic#I1=12;
turnNtu12VLogic#I1=10;
turnNtu5VLogic#I1=11;
</relaycontrol>