<output>
printToScreen#I1=1;
</output>


<g12>
ppsPeriod#F1=1;
ppsOffset#F1=0;
ppsRorF#I1=1;
ntpPort#I1=2;
zdaPort#I1=1;
zdaPeriod#I1=100;
satPort#I1=1;
satPeriod#I1=1200;
updateClock#I1=1;
clockSkew#I1=100;
</g12>


<adu5>
satPeriod#I1=20;
patPeriod#I1=10;
calibV12#F3=0.000,+1.000,0.000;calibV13#F3=-0.500,+0.500,0.000;calibV14#F3=0.500,+0.500,0.000;
</adu5>
