// This is going to be the base config file for Hkd and his friends
// Comments are c++ stylee 
// 

<relaycontrol>
//Remember these are defined in Calibd.h for flight use
ip470carrier#S=/dev/apc8620dos;
ip470BoardLocation#I1=0; //0=A, 1=B, 2=C, 3=D
turnRFCM3OnLogic#I1=23;
turnRFCM3OffLogic#I1=22;
turnRFCM4OnLogic#I1=21;
turnRFCM4OffLogic#I1=20;
turnRFCM1OnLogic#I1=19;
turnRFCM1OffLogic#I1=18;
turnRFCM2OnLogic#I1=7;
turnRFCM2OffLogic#I1=6;
turnVetoOnLogic#I1=5;
turnVetoOffLogic#I1=4;
turnGPSOnLogic#I1=3;
turnGPSOffLogic#I1=2;
turnCalPulserOnLogic#I1=1;
turnCalPulserOffLogic#I1=0;
sunsensorGainLSB#I1=13;
calpulserAddrLSB#I1=9;
</relaycontrol>

<hkd>
numIP320s#I1=3;
ip320carrier#S=/dev/apc8620;
ip320BoardLocations#I3=0,1,2; //0=A, 1=B, 2=C, 3=D
ip320Ranges#I3=10,5,5; //Which range to use
readoutPeriod#I1=10; // In units of 100ms
calibrationPeriod#I1=60; // in seconds
</hkd>

<output>
printToScreen#I1=1;
</output>

