//Hkd.config file

//This section controls hardware location and readout periods
<hkd>
numIP320s#I1=3;   //Number of IP320s active
analogueCarrierNum#I1=1;  //Which of the two Acromags
ip320BoardLocations#I3=0,1,2;  //Which slots have ip320s
ip320Ranges#I3=10,5,5;  //0-10V or +/-5V
readoutPeriod#I1=200; //Readout Period in ms
telemEvery#I1=10; // Only telemeter every Nth readout
telemAverage#I1=1;  // Average readings before sending?
adcAverage#I1=4; // Average for each reading
calibrationPeriod#I1=600; // How often to do a calibration
</hkd>


//This section is mainly for debugging
<output>
printToScreen#I1=1; //Verbosity of interactive screen output
writeLookupFile#I1=1; // Write lookup file with current temps and powers
</output>
