// This is going to be the base config file for Hkd and his friends
// Comments are c++ stylee 
// 

<hkreadout1>
ip320carrier#S=/dev/apc8620;
ip320BoardLocation#I1=0; //0=A, 1=B, 2=C, 3=D
headername#S=Sun Sensor/Accelerometer;
prettyformat#I1=1;
chan5name#S=LowPress;
chan24name#S=AtmPress;
chan3name#S=ACC1X;
chan29name#S=ACC1Y;
chan23name#S=ACC1Z;
chan10name#S=ACC1T;
chan8name#S=ACC2X;
chan2name#S=ACC2Y;
chan28name#S=ACC2Z;
chan22name#S=ACC2T;
chan7name#S=X1PSD;
chan27name#S=X2PSD;
chan26name#S=Y1PSD;
chan32name#S=Y2PSD;
chan6name#S= SS T;
//chan10convert#F1=100.0;
//chan22convert#F1=100.0;
//chan6convert#F1=100.0;
</hkreadout1>
<hkreadout3>
ip320carrier#S=/dev/apc8620;
ip320BoardLocation#I1=2; //0=A, 1=B, 2=C, 3=D
prettyformat#I1=1;
numrows#I1=9;
row1channels#I5=1 21 2 22 3;
row2channels#I5=23 4 24 5 25;
row3channels#I5=6 26 7 27 8;
row4channels#I5=28 9 29 10 30;
row5channels#I5=11 31 12 32 13;
row6channels#I5=00 00 00 00 00;
row7channels#I5=33 14 34 15 35;
row8channels#I5=16 36 17 37 18;
row9channels#I5=38 19 39 20 40;
headername#S=Temperatures;
chan1name#S=T1;
chan2name#S=T3;
chan3name#S=T5;
chan4name#S=T7;
chan5name#S=T9;
chan6name#S=T11;
chan7name#S=T13;
chan8name#S=T15;
chan9name#S=T17;
chan10name#S=T19;
chan11name#S=T21;
chan12name#S=T23;
chan13name#S=T25;
chan14name#S=T27;
chan15name#S=T29;
chan16name#S=T31;
chan17name#S=T33;
chan18name#S=T35;
chan19name#S=T37;
chan20name#S=T39;
chan21name#S=T2;
chan22name#S=T4;
chan23name#S=T6;
chan24name#S=T8;
chan25name#S=T10;
chan26name#S=T12;
chan27name#S=T14;
chan28name#S=T16;
chan29name#S=T18;
chan30name#S=T20;
chan31name#S=T22;
chan32name#S=T24;
chan33name#S=T26;
chan34name#S=T28;
chan35name#S=T30;
chan36name#S=T32;
chan37name#S=T34;
chan38name#S=T36;
chan39name#S=T38;
chan40name#S=T40;
chan1convert#F1=100.0;
chan2convert#F1=100.0;
chan3convert#F1=100.0;
chan4convert#F1=100.0;
chan5convert#F1=100.0;
chan6convert#F1=100.0;
chan7convert#F1=100.0;
chan8convert#F1=100.0;
chan9convert#F1=100.0;
chan10convert#F1=100.0;
chan11convert#F1=100.0;
chan12convert#F1=100.0;
chan13convert#F1=100.0;
chan14convert#F1=100.0;
chan15convert#F1=100.0;
chan16convert#F1=100.0;
chan17convert#F1=100.0;
chan18convert#F1=100.0;
chan19convert#F1=100.0;
chan20convert#F1=100.0;
chan21convert#F1=100.0;
chan22convert#F1=100.0;
chan23convert#F1=100.0;
chan24convert#F1=100.0;
chan25convert#F1=100.0;
chan26convert#F1=100.0;
chan27convert#F1=100.0;
chan28convert#F1=100.0;
chan29convert#F1=100.0;
chan30convert#F1=100.0;
chan31convert#F1=100.0;
chan32convert#F1=100.0;
chan33convert#F1=100.0;
chan34convert#F1=100.0;
chan35convert#F1=100.0;
chan36convert#F1=100.0;
chan37convert#F1=100.0;
chan38convert#F1=100.0;
chan39convert#F1=100.0;
chan40convert#F1=100.0;
chan1offset#F1=-273.15;
chan2offset#F1=-273.15;
chan3offset#F1=-273.15;
chan4offset#F1=-273.15;
chan5offset#F1=-273.15;
chan6offset#F1=-273.15;
chan7offset#F1=-273.15;
chan8offset#F1=-273.15;
chan9offset#F1=-273.15;
chan10offset#F1=-273.15;
chan11offset#F1=-273.15;
chan12offset#F1=-273.15;
chan13offset#F1=-273.15;
chan14offset#F1=-273.15;
chan15offset#F1=-273.15;
chan16offset#F1=-273.15;
chan17offset#F1=-273.15;
chan18offset#F1=-273.15;
chan19offset#F1=-273.15;
chan20offset#F1=-273.15;
chan21offset#F1=-273.15;
chan22offset#F1=-273.15;
chan23offset#F1=-273.15;
chan24offset#F1=-273.15;
chan25offset#F1=-273.15;
chan26offset#F1=-273.15;
chan27offset#F1=-273.15;
chan28offset#F1=-273.15;
chan29offset#F1=-273.15;
chan30offset#F1=-273.15;
chan31offset#F1=-273.15;
chan32offset#F1=-273.15;
chan33offset#F1=-273.15;
chan34offset#F1=-273.15;
chan35offset#F1=-273.15;
chan36offset#F1=-273.15;
chan37offset#F1=-273.15;
chan38offset#F1=-273.15;
chan39offset#F1=-273.15;
chan40offset#F1=-273.15;
</hkreadout3>
<hkreadout2>
ip320carrier#S=/dev/apc8620;
ip320BoardLocation#I1=1; //0=A, 1=B, 2=C, 3=D
prettyformat#I1=1;
numrows#I1=7;
row1channels#I5=38 18 37 17 16;
row2channels#I5=34 14 35 15 0;
row3channels#I5=0 0 0 0 0;
row4channels#I5=7 26 1 27 0;
row5channels#I5=5 24 4 23 0;
row6channels#I5=6 25 3 22 0;
row7channels#I5=2 21 0 0 0;
headername#S=Current/Voltage Monitoring;
chan1name#S=  -5 V;
chan21name#S=+1.5 I;
chan2name#S=+1.5 V;
chan22name#S=+5_SB I;
chan3name#S=+5_SB V;
chan23name#S= -12 I;
chan4name#S= -12 V;
chan24name#S= +12 I;
chan5name#S= +12 V;
chan25name#S=+3.3 I;
chan6name#S=+3.3 V;
chan26name#S=  +5 I;
chan7name#S=  +5 V;
chan27name#S=  -5 I;
chan38name#S= +PV V;
chan18name#S= +PV I;
chan37name#S= +24 V;
chan17name#S= +24 I;
chan16name#S= BAT I;
chan34name#S=IPRF1 V;
chan35name#S=IPRF2 V;
chan14name#S=IPRF2 I;
chan15name#S=IPRF1 I;
chan1convert#F1=-2.0;
chan3convert#F1=2.0;
chan4convert#F1=-4.0;
chan5convert#F1=4.0;
chan7convert#F1=2.0;
chan14convert#F1=8.0;
chan15convert#F1=8.0;
chan16convert#F1=20;
chan17convert#F1=20;
chan18convert#F1=20;
chan21convert#F1=0.8;
chan22convert#F1=12;
chan23convert#F1=0.8;
chan24convert#F1=0.8;
chan25convert#F1=8;
chan26convert#F1=20;
chan27convert#F1=0.8;
chan34convert#F1=4.0;
chan35convert#F1=4.0;
chan37convert#F1=10.1377;
//chan38convert#F1=10.1526;
chan38convert#F1=18.252;
</hkreadout2>


<hkd>
ip320carrier#S=/dev/apc8620;
ip320BoardLocations#I3=0,1,2; //0=A, 1=B, 2=C, 3=D
ip320Ranges#I3=10,5,5; //Which range to use
readoutPeriod#I1=10; // in 100ms
calibrationPeriod#I1=300; // in seconds
</hkd>

<output>
printToScreen#I1=1;
</output>

