// This is going to be the base config file for Prioritizerd 
// Comments are c++ stylee 
// 

<output>
printToScreen#I1=1;
verbosity#I1=1;
</output>

<prioritizerd>
hornThresh#F1=250;
hornDiscWidth#I1=16;
hornSectorWidth#I1=3;
coneThresh#F1=250;
coneDiscWidth#I1=13;
holdoff#I1=39;
delay#I1=8;
hornGuardOffset#I1=30;
hornGuardWidth#I1=20;
hornGuardThresh#I1=50;
coneGuardOffset#I1=30;
coneGuardWidth#I1=20;
coneGuardThresh#I1=50;
</prioritizerd>

