// This is going to be the base config file for SIPd and CMdd 
// Comments are c++ stylee 
// 


<output>
printToScreen#I1=1;
verbosity#I1=0;
</output>

<sipd>
sendData#I1=0;
throttleRate#I1=680; //bytes per sec
sendWavePackets#I1=1;
</sipd>

<bandwidth>
eventBandwidth#I1=80; //No real idea how to use
priorityBandwidths#I10=100,60,40,15,10,5,4,3,2,1; 
//Relative factors 100 means 50% (every other event)
</bandwidth>
