<global>
eventDiskBitMask#I1=0x9;
hkDiskBitMask#I1=0x9;
helium1CloneMask#I1=0;
helium2CloneMask#I1=0;
usbCloneMask#I1=0;
disableHelium1#I1=0;
disableHelium2#I1=1;
disableUsb#I1=1;
disableNtu#I1=0;
usbName#S6=rr_1_1;
ntuName#S17=/currentDataDrive;
ntuIP#S29=fe80::2e0:4bff:fe40:8074%p4p1;
ntuCopyDir#S8=/tmp/ntu;
maxRunLength#I1=7200;
</global>
