// This is going to be the base config file for all progs.
// Comments are c++ stylee 
// 

<global>
useUsbDisks#I1=1;
lastEventNumberFile#S=/home/anita/flightSoft/lastEventNumber;

//Pid Files
acqdPidFile#S=/tmp/anita/pid/acqd.pid;
calibdPidFile#S=/tmp/anita/pid/calibd.pid;
cmddPidFile#S=/tmp/anita/pid/cmdd.pid;
eventdPidFile#S=/tmp/anita/pid/eventd.pid;
gpsdPidFile#S=/tmp/anita/pid/gpsd.pid;
hkdPidFile#S=/tmp/anita/pid/hkd.pid;
losdPidFile#S=/tmp/anita/pid/losd.pid;
monitordPidFile#S=/tmp/anita/pid/archived.pid;
prioritizerdPidFile#S=/tmp/anita/pid/prioritizerd.pid;
sipdPidFile#S=/tmp/anita/pid/sipd.pid;

//Housekeeping telemetry dirs
baseHouseTelemDir#S=/tmp/anita/telem/house/;
cmdEchoTelemSubDir#S=cmd;
hkTelemSubDir#S=hk;
gpsTelemSubDir#S=gps;
monitorTelemSubDir#S=monitor;

//Event telemetry dirs
headerTelemDir#S=/tmp/anita/telem/head;
baseEventTelemDir#S=/tmp/anita/telem/event;

//Inter-process communication dirs
acqdEventDir#S=/tmp/anita/acqd/event;
eventdEventDir#S=/tmp/anita/eventd/event;
gpsSubTimeDir#S=/tmp/anita/gpsd/ttt;
calibdStatusDir#S=/tmp/anita/calibd;

//Data disk locations
mainDataDisk#S=/tmp/mnt/data/;
usbDataDiskLink#S=/tmp/mnt/usbdata/;
usbDataDiskPrefix#S=/tmp/mnt/usbdisk;

//Data archiving dirs
baseHouseArchiveDir#S=/anita/house;
cmdEchoArchiveSubDir#S=cmd;
hkArchiveSubDir#S=hk;
gpsArchiveSubDir#S=gps;
monitorArchiveSubDir#S=monitor;
baseEventArchiveDir#S=/anita/event;
maxEventsPerDir#I1=1000;
</global>

<whiteheat>
//What's connected where on the whiteheat?
g12ADevName#S=/dev/ttyUSB3;
g12BDevName#S=/dev/ttyUSB0;
adu5ADevName#S=/dev/ttyUSB1;
//adu5BDevName#S=/dev/ttyUSB1;
magentometerDevName#s=/dev/ttyUSB2;
</whiteheat>
