// This is going to be the base config file for all progs.
// Comments are c++ stylee 
// 

<global>
useUsbDisks#I1=0; //Use Secondary Disks
useMainDisk#I1=1; //USe Main Disk
lastEventNumberFile#S=/home/anita/flightSoft/lastEventNumber;
lastLosNumberFile#S=/home/anita/flightSoft/lastLosNumber;
lastTdrssNumberFile#S=/home/anita/flightSoft/lastTdrssNumber;

//Pid Files
acqdPidFile#S=/tmp/anita/pid/acqd.pid;
archivedPidFile#S=/tmp/anita/pid/archived.pid;
calibdPidFile#S=/tmp/anita/pid/calibd.pid;
cmddPidFile#S=/tmp/anita/pid/cmdd.pid;
eventdPidFile#S=/tmp/anita/pid/eventd.pid;
gpsdPidFile#S=/tmp/anita/pid/gpsd.pid;
hkdPidFile#S=/tmp/anita/pid/hkd.pid;
losdPidFile#S=/tmp/anita/pid/losd.pid;
monitordPidFile#S=/tmp/anita/pid/archived.pid;
prioritizerdPidFile#S=/tmp/anita/pid/prioritizerd.pid;
sipdPidFile#S=/tmp/anita/pid/sipd.pid;

//Housekeeping telemetry dirs
baseHouseTelemDir#S=/tmp/anita/telem/house/;
cmdEchoTelemSubDir#S=cmd;
hkTelemSubDir#S=hk;
surfHkTelemSubDir#S=surfHk;
turfHkTelemSubDir#S=turfHk;
gpsTelemSubDir#S=gps;
monitorTelemSubDir#S=monitor;

//Event telemetry dirs
headerTelemDir#S=/tmp/anita/telem/head;
baseEventTelemDir#S=/mnt/data/telem/event;

//Inter-process communication dirs
acqdEventDir#S=/tmp/anita/acqd/event;
eventdEventDir#S=/tmp/anita/eventd/event;
prioritizerdEventDir#S=/tmp/anita/prioritizerd/event;
gpsSubTimeDir#S=/tmp/anita/gpsd/ttt;
calibdStatusDir#S=/tmp/anita/calibd;
cmddCommandDir#S=/tmp/anita/cmdd;

//Data disk locations
mainDataDisk#S=/mnt/data/;
usbDataDiskLink#S=/mnt/usbCurrent/;
usbDataDiskPrefix#S=/tmp/mnt/usbdisk;

//Data archiving dirs
baseHouseArchiveDir#S=/anita/house;
cmdEchoArchiveSubDir#S=cmd;
calibArchiveSubDir#S=calib;
hkArchiveSubDir#S=hk;
surfHkArchiveSubDir#S=surfHk;
turfHkArchiveSubDir#S=turfHk;
gpsArchiveSubDir#S=gps;
monitorArchiveSubDir#S=monitor;
baseEventArchivePrefix#S=/anita/event/ev;
</global>

<whiteheat>
//What's connected where on the whiteheat?
g12ADevName#S=/dev/ttyUSB0;
g12BDevName#S=/dev/ttyUSB3;
adu5ADevName#S=/dev/ttyUSB2;
//adu5BDevName#S=/dev/ttyUSB1;
magentometerDevName#s=/dev/ttyUSB1;
</whiteheat>
