<output>
printToScreen#I1=1;
verbosity#I1=0;
writeTelem#I1=1;
</output>


<archived>
onboardStorageType#I1=2;
telemType#I1=4;
priDiskEventMask#I10=0,31,31,31,15,15,15,15,15,15;
priDiskEncodingType#I10=0,0,0,0,0,0,0,0,0,0;
priTelemEncodingType#I10=512,512,512,512,512,512,512,512,512,512;
priTelemClockEncodingType#I10=257,257,257,257,257,257,257,257,257,257;
priorityFractionGlobalDecimate#F10=0,0,0,0,0,0,0,0,0,0;
priorityFractionDeleteHelium1#F10=0,0,0,0,0,0,0,0,0,0;
priorityFractionDeleteHelium2#F10=0,0,0,0,0,0,0,0,0,0;
priorityFractionDeleteUsb#F10=0,0,0,0,0,0,0,0,0,0;
priorityFractionDeleteNeobrick#F10=0,0,0,0,0,0,0,0,0,0;
priorityFractionDeletePmc#F10=0,0,0,0,0,0,0,0,0,0;
priorityPPS1#I1=4;
priorityPPS2#I1=4;
prioritySoft#I1=5;
pps1FractionDelete#F1=0;
pps2FractionDelete#F1=0;
softFractionDelete#F1=0;
pps1FractionTelem#F1=1;
pps2FractionTelem#F1=1;
softFractionTelem#F1=1;
</archived>
