<relays>
stateRFCM1#I1=0;
stateRFCM2#I1=0;
stateRFCM3#I1=0;
stateRFCM4#I1=0;
stateVeto#I1=0;
stateGPS#I1=0;
stateCalPulser#I1=1;
</relays>


<attenuator>
attenLoop#I1=0;
attenStartState#I1=8;
attenPeriod#I1=10;
attenLoopMap#I8=1,1,1,1,1,1,1,1;
</attenuator>


<rfSwitch>
steadyState#I1=4;
switchPeriod#I1=60;
offPeriod#I1=0;
</rfSwitch>


<output>
printToScreen#I1=1;
</output>


<calibd>
digitalCarrierNum#I1=0;
writePeriod#I1=60;
</calibd>
