<output>
printToScreen#I1=1;
verbosity#I1=0;
</output>


<g12>
enableTtt#I1=1;
tttEpochRate#I1=20;
ppsPeriod#F1=0.5;
ppsOffset#F1=50;
ppsRorF#I1=1;
ntpPort#I1=2;
dataPort#I1=1;
zdaPeriod#I1=10;
posPeriod#F1=1;
satPeriod#I1=600;
updateClock#I1=1;
startNtp#I1=1;
clockSkew#I1=100;
</g12>


<adu5>
enableTtt#I1=1;
satPeriod#I1=400;
vtgPeriod#F1=1;
patPeriod#F1=1;
calibV12_1#F1=0;
calibV12_2#F1=2.54;
calibV12_3#F1=-0.03;
calibV13_1#F1=-1.274;
calibV13_2#F1=1.269;
calibv13_3#F1=-0.015;
calibV14_1#F1=1.279;
calibV14_2#F1=1.264;
calibV14_3#F1=-0.033;
</adu5>
