// This is going to be the base config file for Hkd and his friends
// Comments are c++ stylee 
// 

<relaycontrol>
ip470carrier#S=/dev/apc8620dos;
ip470BoardLocation#I1=0; //0=A, 1=B, 2=C, 3=D
turnRFCMOnLogic#I1=7;
turnRFCMOffLogic#I1=6;
turnNDOnLogic#I1=5;
turnNDOffLogic#I1=4;
turnGPSOnLogic#I1=3;
turnGPSOffLogic#I1=2;
turnCalPulserOnLogic#I1=1;
turnCalPulserOffLogic#I1=0;
sunsensorGainLSB#I1=13;
calpulserAddrLSB#I1=8;
calpulserTrigger#I1=12;
</relaycontrol>

<hkd>
numIP320s#I1=1;
ip320carrier#S=/dev/apc8620;
ip320BoardLocations#I3=0,1,2; //0=A, 1=B, 2=C, 3=D
ip320Ranges#I3=10,5,5; //Which range to use
readoutPeriod#I1=10; // In units of 100ms
calibrationPeriod#I1=300; // in seconds
</hkd>

<output>
printToScreen#I1=0;
</output>

