<output>
printToScreen#I1=1;
verbosity#I1=1;
</output>


<losd>
sendData#I1=0;
sendWavePackets#I1=0;
laptopDebug#I1=0;
losBus#I1=1;
losSlot#I1=13;
maxEventsBetweenLists#I1=10;
minTimeWait_b#F1=0.016; 
minTimeWait_m#F1=0.000000; 
</losd>


<bandwidth>
eventBandwidth#I1=70;
priorityBandwidths#I10=50,99,99,99,50,20,10,10,10,10;
</bandwidth>
