// This is going to be the base config file for LOSd 
// Comments are c++ stylee 
// 

<output>
printToScreen#I1=1;
verbosity#I1=0;
</output>

<losd>
laptopDebug#I1=1;
losBus#I1=1;
losSlot#I1=13;
maxEventsBetweenLists#I1=100;
</losd>

<bandwidth>
eventBandwidth#I1=80;
priorityBandwidths#I10=100,60,40,15,10,5,4,3,2,1; 
//Relative factors 100 means 50% (every other event)
</bandwidth>
