// This is going to be the base config file for LOSd 
// Comments are c++ stylee 
// 

<output>
printToScreen#I1=1;
verbosity#I1=1;
</output>

<losd>
sendData#I1=1;
laptopDebug#I1=0;
losBus#I1=1;
losSlot#I1=14;
maxEventsBetweenLists#I1=50;
</losd>

<bandwidth>
eventBandwidth#I1=80;
priorityBandwidths#I10=100,80,50,30,20,10,5,3,2,1; 
//Relative factors 100 means 50% (every other event)
</bandwidth>
