// This is going to be the base config file for Monitord
// Comments are c++ stylee 
// 
<output>
printToScreen#I1=1;
verbosity#I1=2;
</output>


<monitord>
ramdiskKillAcqd#I1=50;
maxAcqdWaitPeriod#I1=180;
ramdiskDumpData#I1=15;
watchProcesses#I1=0;
monitorPeriod#I1=10; //In Seconds
usbSwitchMB#I1=50; // In Megabytes
bladeSwitchMB#I1=50; // In Megabytes
maxEventQueueSize=300; 
</monitord>

