<output>
printToScreen#I1=1; 
verbosity#I1=1; 
</output>


<behavior>
sleepAmount#I1=10; 
readTemperature#I1=1; 
telemEvery#I1=10; 
telemAfterChange#I1=1; 

</behavior>


<notch>
// n0 start, n0 end, n1 start, n1 end, n2 start,n1 end
notchPhiSectors#I6=0,15,0,15,0,15; 
</notch>


<raw> 
// first entry tells us if we should, others are the command
rawCmd#I4 = 0,0,0,0; 
</raw>


