<output>
printToScreen#I1=1;
verbosity#I1=1;
</output>


<behavior>
sleepAmount#I1=5;
readTemperature#I1=1;
telemEvery#I1=50;
telemAfterChange#I1=1;
</behavior>


<notch>
notchPhiSectors#I6=16,16,16,16,16,16;
adjustAccordingToHeading#I3=0,0,0; 
degreesFromNorthToNotch#I3=90,90,90; 
phiSectorOffsetFromNorth#I3=45,45,45; 
slopeThresholdToNotchNextSector#I3=10,10,10; 
maxHeadingAge#I1=120; 
useMagnetometerForHeading#I1=0; 
</notch>
