// This is going to be the base config file for Archived
// Comments are c++ stylee 
// 
<output>
printToScreen#I1=1;
</output>


<archived>
useSecondDisk#I1=0;
gpsTTTNumber#I1=100;
gpsPATNumber#I1=100;
gpsSATNumber#I1=100;
hkNumber#I1=100;
eventBodyNumber#I1=1;
eventHeaderNumber#I1=100;
gzipGps#I1=1;
gzipHk#I1=1;
gzipEventBody#I1=1;
gzipEventHeader#I1=1;
</archived>

