<output>
printToScreen#I1=0;
standAloneMode#I1=0;
writeData#I1=1;
writeScalers#I1=0;
justWriteHeader#I1=0;
verbosity#I1=0;
printStatistics#I1=0;
scalerOutputDir#S21=/tmp/anita/acqd/scale;
</output>


<locations>
turfioSlot#I1=10;
turfioBus#I1=3;
surfSlot#I12=13,8,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1;
surfBus#I12=3,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1;
</locations>


<trigger>
enableRFTrigger#I1=0;
enablePPS1Trigger#I1=1;
enablePPS2Trigger#I1=1;
enableSoftTrigger#I1=0;
sendSoftTrigger#I1=0;
softTrigSleepPeriod#I1=0;
</trigger>


<debug>
dontWaitForEvtF#I1=0;
dontWaitForLabF#I1=0;
writeOutC3p0Nums#I1=0;
tryToUseBarMap#I1=0;
</debug>


<thresholds>
doSlowDacCycle#I1=0;
doGlobalDacCycle#I1=0;
dacSurfs#I12=1,1,0,0,0,0,0,0,0,0,0,0;
dacChans#I4=1,1,1,1;
setGlobalThreshold#I1=0;
globalThreshold#I1=1950;
surf0Bank0#I8=0,2000,0,0,0,0,0,0;
surf0Bank1#I8=0,0,0,0,0,0,0,0;
surf0Bank2#I8=0,1990,0,0,0,0,0,0;
surf0Bank3#I8=0,2000,0,0,0,0,0,0;
surf1Bank0#I8=2000,0,0,0,0,0,0,0;
surf1Bank1#I8=1950,0,0,0,0,0,0,0;
surf1Bank2#I8=1900,0,0,0,0,0,0,0;
surf1Bank3#I8=1750,0,0,0,0,0,0,0;
surf2Bank0#I8=0,0,0,0,0,0,0,0;
surf2Bank1#I8=0,0,0,0,0,0,0,0;
surf2Bank2#I8=0,0,0,0,0,0,0,0;
surf2Bank3#I8=0,0,0,0,0,0,0,0;
</thresholds>


<acqd>
reprogramTurf#I1=0;
</acqd>
