<global>
eventDiskBitMask#I1=0xf;
hkDiskBitMask#I1=0xf;
helium1CloneMask#I1=0;
helium2CloneMask#I1=0;
usbCloneMask#I1=0;
disableHelium1#I1=0;
disableHelium2#I1=0;
disableUsb#I1=1;
disableNtu#I1=0;
usbName#S=rr_1_1;
ntuName#S=/currentDataDrive;
ntuIP#S=fe80::2e0:4bff:fe40:8074%p4p1;
ntuCopyDir#S=/tmp/ntu;
maxRunLength#I1=7200;
</global>
