// This is going to be the base config file for all progs.
// Comments are c++ stylee 
// 

<global>
lastEventNumberFile#S=/home/rjn/flightSoft/lastEventNumber;

acqdPidFile#S=/tmp/anita/pid/acqd.pid
eventdPidFile#S=/tmp/anita/pid/eventd.pid
calibdPidFile#S=/tmp/anita/pid/calibd.pid
gpsdPidFile#S=/tmp/anita/pid/gpsd.pid
hkdPidFile#S=/tmp/anita/pid/hkd.pid
prioritizerdPidFile#S=/tmp/anita/pid/prioritizerd.pid
sipdPidFile#S=/tmp/anita/pid/sipd.pid
cmddPidFile#S=/tmp/anita/pid/cmdd.pid
losdPidFile#S=/tmp/anita/pid/losd.pid

acqdEventDir#S=/tmp/anita/acqd/event;
gpsdSubTimeDir#S=/tmp/anita/gpsd/subTime;
gpsdSipdDir#S=/tmp/anita/gpsd/sipd;
gpsdSipdLinkDir#S=/tmp/anita/sipd/packets/pk1;
hkdSipdDir#S=/tmp/anita/hkd/sipd;
hkdSipdLinkDir#S=/tmp/anita/sipd/packets/pk2;
acqdEventLinkDir#S=/tmp/anita/acqd/event/link;
gpsdSubTimeLinkDir#S=/tmp/anita/gpsd/subTime/link;
gpsdSubTimeArchiveLinkDir#S=/tmp/anita/gpsd/subTime/toArchive;
//gpsdG12LogDir#S=/data/gpsLog;
gpsdG12LogDir#S=/tmp/gpsLog;
eventdEventDir#S=/tmp/anita/eventd/event;
eventdEventLinkDir#S=/tmp/anita/eventd/event/link;
calibdStatusDir#S=/tmp/anita/calibd;
calibdLinkDir#S=/tmp/anita/calibd/link;
prioritizerdEventDir#S=/tmp/anita/eventStore;
prioritizerdEventBackupDir#S=/tmp/anita/eventBackup; //On 2nd hard drive
prioritizerdLinkDirBase#S=/tmp/anita/prioritizerd/link; 
//The various priority dirs will lie underneath prioritizerdLinkDirBase
</global>

<whiteheat>
//What's connected where on the whiteheat?
g12DevName#S=/dev/ttyUSB3;
adu5PortADevName#S=/dev/ttyUSB0;
adu5PortBDevName#S=/dev/ttyUSB1;
magentometerDevName#s=/dev/ttyUSB2;
</whiteheat>
