// This is going to be the base config file for all progs.
// Comments are c++ stylee 
// 

<global>
lastEventNumberFile#S=/home/rjn/flightSoft/lastEventNumber;
acqdEventDir#S=/tmp/anita/acqd/event;
gpsdSubTimeDir#S=/tmp/anita/gpsd/subTime;
acqdEventLinkDir#S=/tmp/anita/acqd/event/link;
gpsdSubTimeLinkDir#S=/tmp/anita/gpsd/subTime/link;
eventdEventDir#S=/tmp/anita/eventd/event;
eventdEventLinkDir#S=/tmp/anita/eventd/event/link;
calibdStatusDir#S=/tmp/anita/calibd;
calibdLinkDir#S=/tmp/anita/calibd/link;
prioritizerdEventDir#S=/tmp/anita/eventStore;
prioritizerdEventBackupDir#S=/tmp/anita/eventBackup; //On 2nd hard drive
prioritizerdLinkDirBase#S=/tmp/anita/prioritizerd/link; 
//The various priority dirs will lie underneath prioritizerdLinkDirBase
</global>


<whiteheat>
//What's connected where on the whiteheat?
g12DevName#S=/dev/ttyUSB3;
adu5PortADevName#S=/dev/ttyUSB2;
adu5PortBDevName#S=/dev/ttyUSB1;
magentometerDevName#s=/dev/ttyUSB0;
</whiteheat>
