// This is going to be the base config file for all progs.
// Comments are c++ stylee 
// 

<global>
lastEventNumberFile#S=/home/rjn/flightSoft/lastEventNumber;

acqdPidFile#S=/tmp/anita/pid/acqd.pid;
eventdPidFile#S=/tmp/anita/pid/eventd.pid;
calibdPidFile#S=/tmp/anita/pid/calibd.pid;
gpsdPidFile#S=/tmp/anita/pid/gpsd.pid;
hkdPidFile#S=/tmp/anita/pid/hkd.pid;
prioritizerdPidFile#S=/tmp/anita/pid/prioritizerd.pid;
sipdPidFile#S=/tmp/anita/pid/sipd.pid;
cmddPidFile#S=/tmp/anita/pid/cmdd.pid;
losdPidFile#S=/tmp/anita/pid/losd.pid;

acqdEventDir#S=/tmp/anita/acqd/event;
acqdEventLinkDir#S=/tmp/anita/acqd/event/link;

hkdSipdDir#S=/tmp/anita/hkd/sipd;
hkdSipdLinkDir#S=/tmp/anita/sipd/packets/pk2;
hkdArchiveDir#S=/tmp/anita/archived/hkd;
hkdArchiveLinkDir#S=/tmp/anita/archived/hkd/link;

gpsdSipdDir#S=/tmp/anita/gpsd/sipd;
gpsdSipdLinkDir#S=/tmp/anita/sipd/packets/pk1;
gpsdSubTimeDir#S=/tmp/anita/gpsd/ttt;
gpsdSubTimeLinkDir#S=/tmp/anita/gpsd/ttt/link;

gpsdAdu5TTTArchiveDir#S=/tmp/anita/archived/gpsd/adu5/ttt;
gpsdAdu5TTTArchiveLinkDir#S=/tmp/anita/archived/gpsd/adu5/ttt/link;
gpsdAdu5PATArchiveDir#S=/tmp/anita/archived/gpsd/adu5/pat;
gpsdAdu5PATArchiveLinkDir#S=/tmp/anita/archived/gpsd/adu5/pat/link;
gpsdAdu5SATArchiveDir#S=/tmp/anita/archived/gpsd/adu5/sat;
gpsdAdu5SATArchiveLinkDir#S=/tmp/anita/archived/gpsd/adu5/sat/link;

//gpsdG12LogDir#S=/data/gpsLog;
gpsdG12LogDir#S=/tmp/gpsLog;

eventdEventDir#S=/tmp/anita/eventd/event;
eventdEventLinkDir#S=/tmp/anita/eventd/event/link;

calibdStatusDir#S=/tmp/anita/calibd;
calibdLinkDir#S=/tmp/anita/calibd/link;
calibdArchiveDir#S=/tmp/anita/archived/calibd;
calibdArchiveLinkDir#S=/tmp/anita/archived/calibd/link;

prioritizerdSipdDir=/tmp/anita/prioritizerd/sipd;
prioritizerdSipdLinkDir=/tmp/anita//sipd/packets/pk3;
prioritizerdArchiveDir#S=/tmp/anita/archived/prioritizerd;
prioritizerdArchiveLinkDir#S=/tmp/anita/archived/prioritizerd/link;

archivedMainDisk#S=/tmp/anita/data1;
archivedSecondDisk#S=/tmp/anita/data2;
archivedGpsAdu5TTTDir#S=gps/adu5/ttt;
archivedGpsAdu5PATDir#S=gps/adu5/pat;
archivedGpsAdu5SATDir#S=gps/adu5/sat;
archivedEventDir#S=event;
archivedHkDir#S=hk;
archivedCalibDir#S=calib;

//The various priority dirs will lie underneath prioritizerdLinkDirBase
</global>

<whiteheat>
//What's connected where on the whiteheat?
g12DevName#S=/dev/ttyUSB3;
adu5ADevName#S=/dev/ttyUSB0;
adu5BDevName#S=/dev/ttyUSB1;
magentometerDevName#s=/dev/ttyUSB2;
</whiteheat>
