// This is going to be the base config file for GPSd and his friends
// Comments are c++ stylee 
// 

<output>
printToScreen#I1=1;
</output>

<g12>
ppsPeriod#F1=1; //in seconds
ppsOffset#F1=0.05; //in seconds 
ppsRorF#I1=1; //1 is 'R', 2 is 'F'
zdaPort#I1=2; //1 is 'A', 2 is 'B'
zdaPeriod#I1=5; // in seconds
updateClock#I1=0; // 1 is yes, 0 is no
clockSkew#I1=0; // Max time difference in seconds
</g12>


<adu5>
satPeriod#I1=3600; // in seconds
patPeriod#I1=10; // in seconds
calibV12#F3=0.000,+1.000,0.000;
calibV13#F3=-0.500,+0.500,0.000;
calibV14#F3=0.500,+0.500,0.000;
</adu5>
