<output>
printToScreen#I1=1;
verbosity#I1=0;
</output>


<g12>
iniReset#I1=0;
enableTtt#I1=1;
tttEpochRate#I1=10;
ppsPeriod#F1=0.2;
ppsOffset#F1=0;
ppsRorF#I1=1;
ntpPort#I1=2;
dataPort#I1=1;
zdaPeriod#I1=1;
ggaPeriod#I1=1;
posPeriod#F1=1;
satPeriod#I1=10;
posTelemEvery#I1=1;
satTelemEvery#I1=1;
ggaTelemEvery#I1=1;
updateClock#I1=0;
startNtp#I1=1;
clockSkew#I1=100;
elevationMask#I1=0;
</g12>


<adu5a>
elevationMask#I1=0;
cycPhaseErrorThreshold#F1=0.2;
mxbBaselineError#F1=0.035;
mxmPhaseError#F1=0.005;
iniReset#I1=0;
enableTtt#I1=1;
satPeriod#I1=10;
ggaPeriod#I1=1;
vtgPeriod#F1=1;
patPeriod#F1=1;
patTelemEvery#I1=1;
vtgTelemEvery#I1=1;
satTelemEvery#I1=1;
ggaTelemEvery#I1=1;
calibV12_1#F1=0;
calibV12_2#F1=3.514;
calibV12_3#F1=-0.031;
calibV13_1#F1=-1.751;
calibV13_2#F1=1.759;
calibV13_3#F1=+0.010;
calibV14_1#F1=1.743;
calibV14_2#F1=1.756;
calibV14_3#F1=-0.045;
</adu5a>


<adu5b>
elevationMask#I1=0;
cycPhaseErrorThreshold#F1=0.2;
mxbBaselineError#F1=0.035;
mxmPhaseError#F1=0.005;
iniReset#I1=0;
enableTtt#I1=1;
satPeriod#I1=10;
ggaPeriod#I1=1;
vtgPeriod#F1=1;
patPeriod#F1=1;
patTelemEvery#I1=1;
vtgTelemEvery#I1=1;
satTelemEvery#I1=1;
ggaTelemEvery#I1=1;
calibV12_1#F1=0;
calibV12_2#F1=2.600;
calibV12_3#F1=0.00;
calibV13_1#F1=-1.294;
calibV13_2#F1=1.293;
calibV13_3#F1=0.004;
calibV14_1#F1=1.293;
calibV14_2#F1=1.306;
calibV14_3#F1=-0.002;
</adu5b>


<sourceList>
enableGpsPhiMasking#I1=0;
phiMaskingPeriod#I1=30;
numSources#I1=1;
sourceLats#F20=-77,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0;
sourceLongs#F20=-180,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0;
sourceAlts#F20=0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0;
sourceDistKm#F20=600,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0;
sourcePhiWidth#I20=3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0;
</sourceList>
