<output>
printToScreen#I1=1;
verbosity#I1=1;
</output>


<behavior>
sleepAmount#I1=20;
readTemperature#I1=1;
telemEvery#I1=20;
telemAfterChange#I1=1;
</behavior>


<notch>
notchPhiSectors#I6=16,16,16,16,16,16;
adjustAccordingToGPU#I3=0,0,0; 
gpuBins#F3=5.6,13.48,25.29; 
gpuThresholds#F3=0,0,0;  
</notch>
